@page
@using FinanceTracker.Pages
@model AccountOverviewModel
@{
    ViewData["Title"] = "AccountOverview";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccountOverview</title>
    <link rel="stylesheet" href="/css/DashboardStyles.css">
    <link rel="icon" type="image/png" sizes="32x24" href="..\images\BudgedBuddyTranspSmol32pxWide.png">
    <script src="/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/analysisCharts.js"></script>
    <script src="/js/accountOverview.js"></script>

</head>

<body>
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>

        <div class="menu" id="menu">
            <a href="Dashboard">Dashboard</a>
            <a href="Investments">Investments</a>
            <a href="Budget">Budget</a>
            <a href="Transactions">Transactions</a>
            <a href="#Contact">Contact</a>
            <div class="Copyright-ham-footer">
                <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
            </div>
        </div>

        <div class="user-options">
            <div class="login-button">
                <span onclick='onclick=location.href = "/UserSettings"'>@Model.WebUser?.Name</span>
            </div>
            <div class="dropdown">
                <span id="settings">Options</span>
                <div class="dropdown-content">
                    <a href="#profile">Profile</a>
                    <a href="#settings">Settings</a>
                    <a href="/Logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <div class="Dashboard">
        @if (!Model.WebUser.HasFinancialAccounts())
        {
            <div class="nothing-here-text">
                <p>Nothing Here yet...</p>
                <p>Try adding a Bank account, Wallet, cash etc.</p>
            </div>
        }
        else
        {

            <div class="time-range-container">
                <div class="time-selector">
                    <button id="prev">&lt;</button>
                    <span id="timeframe"></span>
                    <button id="next">&gt;</button>
                </div>
                <select id="rangeType">
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                </select>
            </div>
            <div class="accountOverview-container">
                <h1 class="Account-Name-H1">@Model.financialAccount.AccountName</h1>
                @if (Model.financialAccount is BankAccount bankAccount)
                {
                    <p class="Account-Balance-p">@bankAccount.Balance @bankAccount.Currency</p>
                }
                else if (Model.financialAccount is CashAccount cashAccount)
                {
                    <p>@cashAccount.Balance @cashAccount.Currency</p>
                }
                else if (Model.financialAccount is CryptoWallet cryptoWallet)
                {
                    <p>Wallet Address: @cryptoWallet.AccountName</p>
                }
                else if (Model.financialAccount is PortfolioAccount portfolioAccount)
                {
                    <p>Portfolio Name: @portfolioAccount.AccountName</p>

                }
            </div>


            <div class="accountBlanceChart-Container">
                <canvas id="accountBalanceChart" width="400" height="200"></canvas>
            </div>

            <div class="in-ex-charts-container">
            
                <div class="expensesByCategoryChart-container">
                    <h2>Expenses</h2>
                    <canvas id="expensesByCategoryChart" width="400" height="200"></canvas>
                </div>

                <div class="incomeByCategoryChart-container">
                    <h2>Income</h2>
                    <canvas id="incomeByCategoryChart" width="400" height="200"></canvas>
                </div>
            </div>





        }

    </div>

    <footer>
        <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
    </footer>


    <script>
        const userEmail = '@Model.WebUser.Email';
        const accID = '@Model.financialAccount.ID';
        console.log("User Email:", userEmail);
        console.log("Account ID:", accID);
    </script>



</body>

</html>