@page
@using FinanceTracker.Pages
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/DashboardStyles.css">
    <link rel="icon" type="image/png" sizes="32x24" href="..\images\BudgedBuddyTranspSmol32pxWide.png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/site.js" defer></script>
</head>

<body>
    <header class="header">
        <div class="menu-icon" onclick="toggleMenu()">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>

        <div class="menu" id="menu">
            <a href="Dashboard">Dashboard</a>
            <a href="Investments">Investments</a>
            <a href="Budget">Budget</a>
            <a href="Transactions">Transactions</a>
            <a href="#Contact">Contact</a>
            <div class="Copyright-ham-footer">
                <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
            </div>
        </div>

        <div class="user-options">
            <div class="login-button">
                <span onclick='onclick=location.href = "/UserSettings"'>@Model.WebUser?.Name</span>
            </div>
            <div class="dropdown">
                <span id="settings">Options</span>
                <div class="dropdown-content">
                    <a href="/UserSettings">Profile</a>
                    <a href="#settings">Settings</a>
                    <a href="/Logout">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <div class="Dashboard">
        <div class="Total-data">
            <h4>Total Income: @Model.Report.TotalIncome</h4>
            <h4>Total Expense: @Model.Report.TotalExpenses</h4>
        </div>
        <div class="account-wrapper">


            @* <div class="Chart-Container">
            <div class="expense-Chart">
            <canvas id="expensePieChart"></canvas>
            </div>
            <div class="Investment-Chart">
            <canvas id="investmentLineChart"></canvas>
            </div>
            </div>
            <div class="Transaction-History-Chart">
            <canvas id="transactionBarChart"></canvas>
            </div> *@

            @if (Model.WebUser == null || !Model.WebUser.HasFinancialAccounts())
            {
                <div class="nothing-here-text">
                    <p>Nothing Here yet...</p>
                    <p>Try adding a Bank account, Wallet, cash etc.</p>
                </div>

                <div class="add-new-financialAccount-field" onclick="addAccountWindow()">
                    <button class="add-new-fin-acc-plus">+</button>
                </div>

                <div class="add-new-acc-background" id="new-acc-menu">
                    <div class="add-new-acc-menu">
                        <button class="exit-btn" onclick="closeAccountMenu()">X</button>
                        <form method="post">
                            <select name="AccountType" id="Account-Type" class="Account-Type-Select" required>
                                <option value="" disabled selected></option>
                                <option value="BankAccount">Bank Account</option>
                                <option value="Cash">Cash</option>
                                <option value="Portfolio">Portfolio</option>
                                <option value="CryptoWallet">Crypto Wallet</option>
                            </select>

                            <input type="text" name="AccountName" class="Account-Name-Input" required>

                            <select name="Currency" id="Curreny-Select" class="Currency-Select" required>
                                @foreach (CurrencyType currency in Enum.GetValues(typeof(CurrencyType)))
                                {
                                    <option value="@currency">@currency</option>
                                }
                            </select>
                            <input type="submit" class="submit-Financial-Account-btn" asp-page-handler="AddFinanceAccount">
                        </form>
                    </div>
                </div>
            }
            else
            {
                foreach (var bankAccount in Model.WebUser.BankAccounts)
                {
                    <div class="import-file-container" id="import-file-container">
                            <div class="import-file-field">
                                <button class="close-import-btn" onclick="toggleImportField()"></button>
                                <form id="importForm" class="importForm" asp-controller="Transaction" asp-action="ImportTransactions" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file" class="import-transaction-btn" >
                                    <input type="hidden" name="userEmail" value="@Model.WebUser.Email" required />
                                    <button type="submit" class="btn btn-primary">Import</button>
                                </form>

                                <div id="result"></div>
                                
                            </div>
                    </div>
                    <div class="Bank-Acc-Container Acc-Container" uuid="@bankAccount.ID">
                        <h3>Bankaccount: @bankAccount.AccountName</h3>
                        <p>Balance: @bankAccount.Balance @bankAccount.Currency</p>
                        <h4>@Stuff.MonthToWord(DateTime.Now.Month) @DateTime.Now.Year</h4>
                        <div class="monthly-plus-minus-container">
                            @* <p class="income-values">+ @Model.WebUser.CalculateMonthlyTotalPlus(DateTime.Now, bankAccount.ID) @bankAccount.Currency</p>
                            <p class="expense-values">- @Model.WebUser.CalculateMonthlyTotalMinus(DateTime.Now, bankAccount.ID) @bankAccount.Currency</p> *@
                        </div>
                        <div class="other-data-container">
                            <div class="in-out-data-container">
                                @* <p>Income:  @Model.WebUser.CalculateMonthlyAccIncome(DateTime.Now, bankAccount.ID) @bankAccount.Currency</p>
                                <p>Expense: @Model.WebUser.CalculateMonthlyAccExpense(DateTime.Now, bankAccount.ID) @bankAccount.Currency</p> *@
                            </div>
                            <div class="transf-data-contianer">
                                @* <p>Outging Transfers: @Model.WebUser.CalculateMonthlyAccTransferExpense(DateTime.Now, bankAccount.ID) @bankAccount.Currency</p>
                                <p>Incomming Transfers: @Model.WebUser.CalculateMonthlyAccTransferIncome(DateTime.Now, bankAccount.ID) @bankAccount.Currency</p> *@
                            </div> 
                        </div>
                        
                        
                        

                        <button type="button" class="quickadd-transaction-btn" data-id="@bankAccount.ID"
                            onclick="addTransactionWindow(this, event)">+</button>
                        <button type="button" class="toggle-import-file-btn" onclick="toggleImportField(event)">📥</button>
                        <a asp-controller="Download" asp-action="DownloadTransactions" asp-route-userEmail="@Model.WebUser.Email" event.stopPropagation()>📤</a>
                        
                        <div class="last-5-transaction-container">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Category</th>
                                        <th>Amount</th>
                                        <th>Origin</th>
                                        <th>Destination</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                            <tbody>
                                @foreach (var transaction in Model.WebUser.GetTransactionsByAccID(bankAccount.ID).OrderByDescending(t => t.Date).Take(5))
                                {
                                    <tr>
                                        <td>@transaction.Type</td>
                                        <td>@transaction.Category</td>
                                        <td>@transaction.Amount</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Origin)</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Destination)</td>
                                        <td>@transaction.Description</td>
                                        <td>@transaction.Date</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                }
                foreach (var cashAccount in Model.WebUser.CashAccounts)
                {
                    <div class="Cash-Acc-Container Acc-Container" uuid="@cashAccount.ID">
                        <h3>Cashstash @cashAccount.AccountName</h3>
                        <p>Balance: @cashAccount.Balance @cashAccount.Currency</p>

                        <button type="button" class="quickadd-transaction-btn" data-id="@cashAccount.ID"
                            onclick="addTransactionWindow(this, event)">+</button>
                        <table>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.WebUser.GetTransactionsByAccID(cashAccount.ID).OrderByDescending(t => t.Date).Take(5))
                                {
                                    <tr>
                                        <td>@transaction.Type</td>
                                        <td>@transaction.Category</td>
                                        <td>@transaction.Amount</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Origin)</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Destination)</td>
                                        <td>@transaction.Description</td>
                                        <td>@transaction.Date</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                }

                foreach (var cryptoWallet in Model.WebUser.CryptoWallets)
                {
                    <div class="Crypto-Wallet-Container Acc-Container" uuid="@cryptoWallet.ID">
                        <h3>Cryptowallet: @cryptoWallet.AccountName</h3>
                        <p>Balance: @cryptoWallet.Balance</p>

                        <button type="button" class="quickadd-transaction-btn" data-id="@cryptoWallet.ID"
                            onclick="addTransactionWindow(this, event)">+</button>
                        <table>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.WebUser.GetTransactionsByAccID(cryptoWallet.ID).OrderByDescending(t => t.Date).Take(5))
                                {
                                    <tr>
                                        <td>@transaction.Type</td>
                                        <td>@transaction.Category</td>
                                        <td>@transaction.Amount</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Origin)</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Destination)</td>
                                        <td>@transaction.Description</td>
                                        <td>@transaction.Date</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                }

                foreach (var portfolioAccount in Model.WebUser.PortfolioAccounts)
                {
                    <div class="Crypto-Wallet-Container Acc-Container" uuid="@portfolioAccount.ID">
                        <h3>Stockportoflio: @portfolioAccount.AccountName</h3>
                        <p>Balance: @portfolioAccount.Balance</p>

                        <button type="button" class="quickadd-transaction-btn" data-id="@portfolioAccount.ID"
                            onclick="addTransactionWindow(this, event)">+</button>
                        <table>
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transaction in Model.WebUser.GetTransactionsByAccID(portfolioAccount.ID).OrderByDescending(t => t.Date).Take(5))
                                {
                                    <tr>
                                        <td>@transaction.Type</td>
                                        <td>@transaction.Category</td>
                                        <td>@transaction.Amount</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Origin)</td>
                                        <td>@Model.WebUser.GetAccountNameById(transaction.Destination)</td>
                                        <td>@transaction.Description</td>
                                        <td>@transaction.Date</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <div class="spacer"></div>



                <div class="add-new-financialAccount-field" onclick="addAccountWindow()">
                    <button class="add-new-fin-acc-plus">+</button>
                </div>

                <div class="add-new-acc-background" id="new-acc-menu">
                    <div class="add-new-acc-menu">
                        <button class="exit-btn" onclick="closeAccountMenu()">X</button>
                        <form method="post">
                            <select name="AccountType" id="Account-Type" class="Account-Type-Select" required>
                                <option value="" disabled selected></option>
                                <option value="BankAccount">Bank Account</option>
                                <option value="Cash">Cash</option>
                                <option value="Portfolio">Portfolio</option>
                                <option value="CryptoWallet">Crypto Wallet</option>
                            </select>

                            <input type="text" name="AccountName" class="Account-Name-Input" required>

                            <select name="Currency" id="Curreny-Select" class="Currency-Select" required>
                                @foreach (CurrencyType currency in Enum.GetValues(typeof(CurrencyType)))
                                {
                                    <option value="@currency">@currency</option>
                                }
                            </select>
                            <input type="submit" class="submit-Financial-Account-btn" asp-page-handler="AddFinanceAccount">
                        </form>
                    </div>
                </div>

                <div class="add-transaction-container" id="add-transaction-container">
                    <div class="add-transaction-menu">
                        <button class="exit-btn" onclick="closeTransactionWindow()">X</button>
                        <form method="post">

                            <input type="hidden" name="AccID" id="account-id" />


                            <div class="trans-type-slct-container" id="trans-type-slct-container">

                                <label for="trans-type-slct">Transaction Type</label>
                                <select class="trans-type-slct" id="trans-type-slct" name="TransactionType" required>
                                    <option value="" selected disabled></option>
                                    <option value="Income">Income</option>
                                    <option value="Expense">Expense</option>
                                    <option value="Transfer">Transfer</option>
                                </select>
                            </div>

                            <div class="trans-transf-input-container">
                                <div class="transf-origin-container">
                                    <label for="transf-origin-slct">From:</label>
                                    <select name="Origin" id="transf-orgini-slct">

                                        @foreach (var bankAccount in Model.WebUser.BankAccounts)
                                        {
                                            <option value="@bankAccount.ID">Bankaccount: "@bankAccount.AccountName"</option>
                                        }
                                        @foreach (var cashAccount in Model.WebUser.CashAccounts)
                                        {
                                            <option value="@cashAccount.ID">Cash: "@cashAccount.AccountName"</option>
                                        }
                                        @foreach (var cryptoWallet in Model.WebUser.CryptoWallets)
                                        {
                                            <option value="@cryptoWallet.ID">Cryptowallet: "@cryptoWallet.AccountName"</option>
                                        }
                                        @foreach (var portfolioAccount in Model.WebUser.PortfolioAccounts)
                                        {
                                            <option value="@portfolioAccount.ID">Portfolio: "@portfolioAccount.AccountName"
                                            </option>
                                        }
                                    </select>
                                </div>

                                <div class="transf-destination-container">
                                    <label for="transf-destination-slct">To:</label>
                                    <select name="Destination" id="transf-destination-slct">
                                        <option value="" disabled selected></option>
                                        @foreach (var bankAccount in Model.WebUser.BankAccounts)
                                        {
                                            <option value="@bankAccount.ID">Bankaccount: "@bankAccount.AccountName"</option>
                                        }
                                        @foreach (var cashAccount in Model.WebUser.CashAccounts)
                                        {
                                            <option value="@cashAccount.ID">Cash: "@cashAccount.AccountName"</option>
                                        }
                                        @foreach (var cryptoWallet in Model.WebUser.CryptoWallets)
                                        {
                                            <option value="@cryptoWallet.ID">Cryptowallet: "@cryptoWallet.AccountName"</option>
                                        }
                                        @foreach (var portfolioAccount in Model.WebUser.PortfolioAccounts)
                                        {
                                            <option value="@portfolioAccount.ID">Portfolio: "@portfolioAccount.AccountName"
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="trans-income-expense-inputs-container">
                                <div class="trans-category-container">
                                    <label for="trans-category-slct">Category</label>
                                    <select name="Category" id="trans-category-slct" required>
                                        <option value="" disabled selected></option>
                                        <option value="Salary" data-type="Income">Salary</option>
                                        <option value="Freelance/Consulting" data-type="Income">Freelance/Consulting
                                        </option>
                                        <option value="Investments" data-type="Income">Investments</option>
                                        <option value="Rental Income" data-type="Income">Rental Income</option>
                                        <option value="Business Income" data-type="Income">Business Income</option>
                                        <option value="Bonuses" data-type="Income">Bonuses</option>
                                        <option value="Gifts" data-type="Income">Gifts</option>
                                        <option value="Interest Earned" data-type="Income">Interest Earned</option>
                                        <option value="Dividends" data-type="Income">Dividends</option>
                                        <option value="Other Income" data-type="Income">Other Income</option>

                                        <option value="Rent/Mortgage" data-type="Expense">Rent/Mortgage</option>
                                        <option value="Utilities (Electricity, Water, Gas)" data-type="Expense">Utilities
                                            (Electricity, Water, Gas)</option>
                                        <option value="Groceries" data-type="Expense">Groceries</option>
                                        <option value="Dining Out" data-type="Expense">Dining Out</option>
                                        <option value="Transportation (Fuel, Public Transport)" data-type="Expense">
                                            Transportation (Fuel, Public Transport)</option>
                                        <option value="Insurance (Health, Car, Home)" data-type="Expense">Insurance (Health,
                                            Car, Home)</option>
                                        <option value="Medical/Healthcare" data-type="Expense">Medical/Healthcare</option>
                                        <option value="Education (Tuition, Books)" data-type="Expense">Education (Tuition,
                                            Books)</option>
                                        <option value="Entertainment (Movies, Events)" data-type="Expense">Entertainment
                                            (Movies, Events)</option>
                                        <option value="Subscriptions (Netflix, Gym)" data-type="Expense">Subscriptions
                                            (Netflix, Gym)</option>
                                        <option value="Travel (Flights, Hotels)" data-type="Expense">Travel (Flights,
                                            Hotels)</option>
                                        <option value="Clothing" data-type="Expense">Clothing</option>
                                        <option value="Personal Care (Haircuts, Spa)" data-type="Expense">Personal Care
                                            (Haircuts, Spa)</option>
                                        <option value="Household Supplies" data-type="Expense">Household Supplies</option>
                                        <option value="Debt Payments (Credit Card, Loans)" data-type="Expense">Debt Payments
                                            (Credit Card, Loans)</option>
                                        <option value="Savings/Investments" data-type="Expense">Savings/Investments</option>
                                        <option value="Charitable Donations" data-type="Expense">Charitable Donations
                                        </option>
                                        <option value="Pet Care" data-type="Expense">Pet Care</option>
                                        <option value="Childcare" data-type="Expense">Childcare</option>
                                        <option value="Miscellaneous" data-type="Expense">Miscellaneous</option>

                                        <option value="Bank Transfer" data-type="Transfer">Bank Transfer</option>
                                        <option value="Cash Withdrawal" data-type="Transfer">Cash Withdrawal</option>
                                        <option value="Cash Deposit" data-type="Transfer">Cash Deposit</option>
                                        <option value="Crypto Purchase" data-type="Transfer">Crypto Purchase</option>
                                        <option value="Crypto Sale" data-type="Transfer">Crypto Sale</option>
                                        <option value="Internal Transfer" data-type="Transfer">Internal Transfer</option>
                                        <option value="External Transfer" data-type="Transfer">External Transfer</option>
                                        <option value="Credit Card Payment" data-type="Transfer">Credit Card Payment
                                        </option>
                                        <option value="Loan Payment" data-type="Transfer">Loan Payment</option>
                                        <option value="Peer-to-Peer Transfer" data-type="Transfer">Peer-to-Peer Transfer
                                        </option>
                                        <option value="Savings to Checking" data-type="Transfer">Savings to Checking
                                        </option>
                                        <option value="Checking to Savings" data-type="Transfer">Checking to Savings
                                        </option>
                                        <option value="Investment to Savings" data-type="Transfer">Investment to Savings
                                        </option>
                                        <option value="Savings to Investment" data-type="Transfer">Savings to Investment
                                        </option>
                                    </select>
                                </div>
                                <div class="trans-description-container">
                                    <label for="trans-income-description-inp">Description</label>
                                    <input type="text" class="trans-description" id="trans-description-inp"
                                        name="Description" required>
                                </div>
                                <div class="trans-amount-container">
                                    <label for="trans-amount-inp">Amount</label>
                                    <input type="number" class="trans-amount-inp" id="trans-amount-inp" name="Amount"
                                        step="0.01" min="0" required>
                                </div>

                                <div class="trans-date-container">
                                    <label for="trans-date-inp">Date</label>
                                    <input type="datetime-local" class="trans-date-inp" id="trans-date-inp" name="Date"
                                        required>
                                </div>

                                <div class="trans-contract-container">
                                    <label for="trans-contract-checkbox">Contract</label>
                                    <input type="checkbox" asp-for="IsContract" id="trans-contract-checkbox">
                                </div>

                                <div class="trans-contract-cycle-container">
                                    <label for="contract-cycle-slct">Contract cycle</label>
                                    <select name="Cycle" id="contract-cycle-slct" required>

                                        @foreach (BillingCycle billingCycle in Enum.GetValues(typeof(BillingCycle)))
                                        {
                                            <option value="@billingCycle">@billingCycle</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="save-transaction-container">
                                <button type="submit" class="save-transaction-btn" id="save-transaction-btn"
                                    asp-page-handler="AddTransaction">✅</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
            <script src="/js/dashboard.js"></script>

            @* <script>



            expenseChart();

            investmentChart();


            var ctx = document.getElementById('transactionBarChart').getContext('2d');
            var transactionBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: ['Groceries', 'Rent', 'Utilities', 'Entertainment', 'Dining', 'Miscellaneous'],
            datasets: [{
            label: 'Transactions',
            data: [300, 500, 100, 200, 150, 80],
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
            }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
            legend: {
            display: true,
            position: 'bottom',
            labels: {
            color: '#ffffff'
            }
            },
            scales: {
            x: {
            ticks: {
            color: '#ffffff'
            }
            },
            y: {
            ticks: {
            color: '#ffffff'
            }
            }
            }
            }
            }
            });




            function addAccountWindow() {
            document.getElementById('new-acc-menu').classList.toggle("visible");
            }

            function closeAccountMenu() {
            document.getElementById('new-acc-menu').classList.toggle("visible");
            }

            </script> *@

        </div>
    </div>
    <footer>
        <p>&copy; 2024 Budget Buddy. All rights reserved.</p>
    </footer>
</body>

</html>